@import url("./variables.css");

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.welcome h1 {
  color: var(--text-dark-imperial-blue);
  text-align: center;
  margin-top: 70px;
  margin-bottom: -70px;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 35px;
}

.first-section div:first-child {
  color: var(--text-cobalt-blue);
}

.cards-row .h2,
.cards-row .p-highlight:last-child {
  color: var(--text-alice-blue);
}

.cards-row .p-highlight:first-child {
  color: var(--text-blue-marble);
}

.first-section .p-highlight {
  margin: 0;
}

.first-section .h2-big {
  margin: 0;
  rotate: -15deg;
  margin-left: 20px;
  margin-bottom: 4px;
}

.first-section .vertical-card {
  background-color: #00126d;
}

.cards-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cards-row p {
  margin: 0;
}

.second-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.second-section .banner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 56px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0px 16px 16px 0px;
  background-color: var(--bg-shadow-blue);
  color: var(--text-alice-blue);
}

.second-section .banner h2,
.second-section .banner p {
  margin: 0 !important;
}

.third-section {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.third-section .h2-big {
  color: var(--text-dark-imperial-blue);
  padding-left: 94px;
}

.third-section .vertical-card {
  background-color: var(--bg-shadow-blue);
}

.third-section .h2:first-child {
  color: var(--text-dark-imperial-blue);
}

.third-section .p-highlight:first-child {
  color: var(--text-blue-marble);
}

.third-section .h2:last-child,
.third-section .p-highlight:last-child {
  color: var(--text-alice-blue);
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 62px;
  width: 100vw;
}

.fourth-section h2 {
  color: var(--text-dark-imperial-blue);
  margin: 0;
}

.fourth-section > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  gap: 10px;
}

.fourth-section > div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: grey;
}

.map-cards {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 10px;
  padding: 10px;
}

.map-cards .horizontal-card {
  background-color: var(--bg-cadet-grey);
  border: 1px solid var(--bg-dark-imperial-blue);
  color: var(--text-dark-imperial-blue);
}

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 39px;
  border: 1px solid var(--bg-dark-imperial-blue);
  width: 100vw;
  padding: 40px 0;
  background-color: var(--bg-shadow-blue);
  margin-bottom: 150px;
}

.fifth-section h2 {
  color: var(--text-dark-imperial-blue);
  margin: 0;
}
