
.create-event-container {
  margin: 100px auto;
  background: var(--indigo);
  border-radius: 18px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.create-event-title {
  color: var(--text-alice-blue);
  margin-bottom: 2.5rem;
  text-align: center;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.create-event-form label {
  color: var(--vodka);
  margin-bottom: 0.5rem;
}

.create-event-label {
  color: var(--vodka);
}
 
#create-event-form p {
  color: var(--han-blue);
}

.create-event-select {
  margin-bottom: 1.2rem;
}

.create-event-description {
  color: var(--vodka);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 2rem;
}