@import url("./variables.css");

body {
    all: unset;
}

* {
    transition: all 0.4s ease;
}

@font-face {
    font-family: 'ClimateCrisis';
    src: url("../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
  font-family: NotoSans;
  src: url(./fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

/* Cartes d'événements - style vertical */
.vertical-card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 0;
    border-radius: 16px;
}

.vertical-card .card-content {
    display: flex;
    gap: 15px;
    padding: 14px 24px;
    flex-direction: column;
    align-items: flex-start;
}

.vertical-card .card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.vertical-card .card-content > p:last-child,
.vertical-card .card-text > p:first-child {
    font-family: "Noto Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
}

.vertical-card .card-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.vertical-card .card-date p {
    font-family: "Noto Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
}

/* Cartes d'événements - style horizontal */
.horizontal-card {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    border-radius: 15px;
}

.horizontal-card p {
    margin: 0;
}

.horizontal-card .card-content {
    display: flex;
    gap: 30px;
    padding: 10px 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.horizontal-card .card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.horizontal-card .card-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
}

/* Boutons */

button {
    all: unset;
}

.bouton-primary-1 {
    display: inline-flex;
    padding: 12px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--bg-cobalt-blue);
    color: var(--text-alice-blue);
}

.bouton-primary-1:hover {
    background: var(--bg-cornflower-blue);
}

.bouton-primary-2 {
    display: inline-flex;
    padding: 12px 38px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--bg-shadow-blue);
    color: var(--text-alice-blue);
}

.bouton-primary-2:hover {
    background: var(--bg-alice-blue);
    color: var(--text-shadow-blue);
}

.bouton-secondary-1 {
    display: inline-flex;
    padding: 12px 38px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid var(--bg-cornflower-blue);
    color: var(--text-cornflower-blue);
}

.bouton-secondary-1:hover {
    background: var(--bg-cornflower-blue);
    color: var(--text-alice-blue);
}

.bouton-secondary-2 {
    display: inline-flex;
    padding: 12px 38px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid var(--bg-shadow-blue);
    color: var(--text-shadow-blue);
}

.bouton-secondary-2:hover {
    background: var(--bg-shadow-blue);
    color: var(--text-alice-blue);
}

.bouton-tertiary-1 {
    color: var(--text-cornflower-blue);
    padding-bottom: 5px;
    box-shadow: 0 1px 0 0 transparent;
    transition: box-shadow 0.3s ease;
}

.bouton-tertiary-1:hover {
    box-shadow: 0 1px 0 0 var(--bg-cornflower-blue);
}

.bouton-tertiary-2 {
    color: var(--text-shadow-blue);
    padding-bottom: 5px;
    box-shadow: 0 1px 0 0 transparent;
    transition: box-shadow 0.3s ease;
}

.bouton-tertiary-2:hover {
    box-shadow: 0 1px 0 0 var(--bg-shadow-blue);
}

.card-big {
    border-radius: 6px;
    padding: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 270px;
    min-height: 80px;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.card-big p {
    margin: 0;
}

.card-big.cornflower-blue {
    background-color: var(--bg-cornflower-blue);
    color: var(--text-dark-imperial-blue);
}

.card-big.cornflower-blue:hover {
    background-color: var(--bg-cobalt-blue);
    color: var(--text-alice-blue);
}

.card-big.alice-blue {
    background-color: var(--bg-alice-blue);
    color: var(--text-dark-imperial-blue);
}

.card-big.alice-blue:hover {
    background-color: var(--bg-cornflower-blue);
    color: var(--text-dark-imperial-blue);
}

.card-big::after {
    content: '';
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.card-big.cornflower-blue::after {
    background-image: url('../images/icons/icon-arrow-alice-blue.svg');
}

.card-big.alice-blue::after {
    background-image: url('../images/icons/icon-arrow-dark-imperial-blue.svg');
}

.card-big.alice-blue:hover::after {
    background-image: url('../images/icons/icon-arrow-alice-blue.svg');
}