.homepage-page {
    padding: 4rem 0 4rem;
}

.homepage-page .text-container .h2-big,
.homepage-page .text-container .p-text-latest-events,
.homepage-page .text-container .similar-events-carousel {
    max-width: 1140px;
    margin: 0 auto;
}

.homepage-page h1 {
  color: var(--text-dark-imperial-blue);
  text-align: center;
}

.homepage-page .apropos-image-section {
    margin-top: 64px;
}

.homepage-page .latest-events-section h2 {
    color: var(--text-dark-imperial-blue);
}

.homepage-page .latest-events-section .p-text-latest-events{
    margin: 1rem auto 2rem;
    color: var(--text-dark-imperial-blue);
}

.homepage-page .latest-events-section.bottom-events h2 {
    color: var(--text-bright-gray);
}


.homepage-page .latest-events-section.bottom-events h2 {
    color: var(--text-bright-gray);
}

.homepage-page .latest-events-section.bottom-events .p-text-latest-events{
    color: var(--text-alice-blue);
}

.view-all-events-container {
    text-align: center;
    margin-top: 0.5rem;
}

.homepage-page section:not(:first-child) {
    margin-top: 100px;
}

.homepage-page .latest-events-section.bottom-events {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 136px;
    padding-bottom: 136px;
    background-image: url(../images/svg/shape-bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--bg-dark-imperial-blue);
    border-radius: 2rem;
    border-radius: 1.5rem;
}

.similar-events-grid .event-card .event-price {
    margin-top: 4rem;
}

.similar-events-grid .event-card .event-price:last-child {
    margin-top: 2rem;
}

.similar-events-grid .event-card.event-card-bright-gray{
    background: var(--bg-bright-gray);
}

.similar-events-grid .event-card.event-card-bright-gray * {
    color: var(--text-dark-imperial-blue);
}

.similar-events-grid .event-card.event-card-bright-gray .event-date-time {
    color: var(--text-shadow-blue);
}

.homepage-page .bento-stars {
    background-color: var(--bg-shadow-blue);
}

.bento-logo,
.bento-disponible {
    background-color: var(--bg-cornflower-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    height: calc(100% - 2rem);
    padding: 1rem;
}

.bento-disponible {
    background-color: var(--bg-dark-imperial-blue);
    background-image: url(../images/svg/shape-triangle-bottom-right.svg), url(../images/svg/shape-triangle-top-left.svg);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.bento-disponible p {
    color: var(--text-alice-blue);
}

body .homepage-page .simplicite-title {
    margin-bottom: 56px;
}

.homepage-page .etape-content {
    gap: 8px;
}

.homepage-page .etape-content p {
    margin-bottom: 24px !important;
    color: var(--text-dark-imperial-blue);
}

.homepage-page .community-carousel-section {
    padding: 136px 0;
    background-color: var(--vodka);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    border-radius: 2rem;
}